yolov3.weights filter=lfs diff=lfs merge=lfs -text
model_data/yolo.h5 filter=lfs diff=lfs merge=lfs -text
model_data/yolo_weights.h5 filter=lfs diff=lfs merge=lfs -text
proj_models/final_single_64p32.h5 filter=lfs diff=lfs merge=lfs -text
proj_models/final_no_cls_loss_64p32.h5 filter=lfs diff=lfs merge=lfs -text
proj_models/final_single_custom_loss_anchors.h5 filter=lfs diff=lfs merge=lfs -text
proj_models/final_single_no_loss_custom_anchor_200p50.h5 filter=lfs diff=lfs merge=lfs -text
proj_models/final_single_mod_LossAnchors_200p50.h5 filter=lfs diff=lfs merge=lfs -text
proj_models/final_cust_loss4_anchs.h5 filter=lfs diff=lfs merge=lfs -text
proj_models/final_single_custm_4loss_anchs.h5 filter=lfs diff=lfs merge=lfs -text
proj_models/final_single_custm_2loss_anchs.h5 filter=lfs diff=lfs merge=lfs -text
proj_models/final_single_cust_loss4_anchs.h5 filter=lfs diff=lfs merge=lfs -text
proj_models/with_svm/svm.dump filter=lfs diff=lfs merge=lfs -text
proj_models/with_svm/trained_weights_final.h5 filter=lfs diff=lfs merge=lfs -text
model_data/svm.dump filter=lfs diff=lfs merge=lfs -text
model_data/mobilenet_final_weights.h5 filter=lfs diff=lfs merge=lfs -text
model_data/vgg_full_trained_weights_final.h5 filter=lfs diff=lfs merge=lfs -text
proj_models/tau_single_split10_loss2_n300_t50.h5 filter=lfs diff=lfs merge=lfs -text
proj_models/resnet50_best.h5 filter=lfs diff=lfs merge=lfs -text
